---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for item in collections.all %}
{% if item.url %}{% if item.data.eleventyExcludeFromCollections %}{% else %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    {% if item.date %}<lastmod>{{ item.date | isoDate }}</lastmod>
    {% endif %}<changefreq>{% if item.url == '/' %}weekly{% else %}monthly{% endif %}</changefreq>
    <priority>{% if item.url == '/' %}1.0{% elif item.url == '/news/' %}0.8{% else %}0.6{% endif %}</priority>
  </url>
{% endif %}{% endif %}
{% endfor %}
</urlset>